@model string
@{
    ViewData["Title"] = "Reset password confirmation page";
}
<div class="smallcontainer">
    <h1>Hello, @Model! We succesfully started reset password operation</h1>
    <h1>Please check your mailbox</h1>
    <a asp-controller="HomePage" asp-action="Index">Return to main page</a>
</div>