@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "ResetPassword";
}
<div class="container">
    <form method="post" asp-controller="Account" asp-action="ResetPassword">
        <div asp-validation-summary="All"></div>
        <input asp-for="UserId" type="hidden" />
        <input asp-for="Token" type="hidden" />
        <div class="dws-input">
            <span asp-validation-for="Password"></span>
            <input class="dws-input" type="text" asp-for="Password" placeholder="Input your password" />
        </div>
        <div class="dws-input">
            <span asp-validation-for="ConfirmPassword"></span>
            <input class="dws-input" type="text" asp-for="ConfirmPassword" placeholder="Confirm your password" />
        </div>
        <input class="dws-submit" type="submit" value="Reset password">
    </form>
</div>