@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPasswordWithEmail";
}
<div class="container">
    <form method="post" asp-controller="Account" asp-action="ResetPasswordConfirmationPage">
        <div asp-validation-summary="All"></div>
        <div class="dws-input">
            <span asp-validation-for="EmailAddress"></span>
            <input class="dws-input" type="text" asp-for="EmailAddress" placeholder="Input your email" />
        </div>
        <input class="dws-submit" type="submit" value="Reset password">
    </form>
</div>