body {
    background-image: url("../img/lockscreen.png");
}

a {
    text-decoration: none;
    color: #fff;
}

    a:hover {
        text-decoration: none;
    }

.container {
    width: 450px;
    height: 580px;
    background-color: rgb(24, 33, 52, 0.7);
    margin: 250px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #3adbfd;
    border-radius: 0 0 10px 10px;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}

.container img {
    width: 140px;
    height: 140px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
}

.dws-submit {
    padding: 12px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}

    .dws-submit:hover {
        transition: all 0.5px;
        background: #fff;
        color: #2c536c;
    }

.smallcontainer {
    width: 450px;
    height: 280px;
    background-color: rgb(24, 33, 52, 0.7);
    margin: 250px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #3adbfd;
    border-radius: 0 0 10px 10px;
}

.TextBlock {
    width: auto;
    height: 250px;
    margin-top: 100px;
    background-color: rgb(24, 33, 52, 0.7);
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
}

.footerElement {
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
    width: auto;
    height: 30px;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(24, 33, 52, 0.7);
}

.header {
    display: flex;
    border-radius: 10px 10px 10px 10px;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(24, 33, 52, 0.7);
    color: #fff;
}

.header_section {
    display: flex;
    align-items: center;
}

.header_item_button {
    padding: 10px 35px 10px 35px;
    font-size: 20px;
}

    .header_item_button:hover {
        background-color: #2c536c;
        border-radius: 7px;
        cursor: pointer;
    }

.header_item_logo {
    font-weight: bold;
    font-size: 20px;
}

.mainContent {
    display: flex;
    margin-top: 40px;
    width: auto;
    height: 800px;
    background-color: rgb(24, 33, 52, 0.7);
    border-radius: 10px 10px 10px 10px;
}

#InputImageBlock {
    margin: 50px;
    width: 500px;
    height: 350px;
    background-color: #2c536c;
    border-radius: 10px 10px 10px 10px;
}

#OutPutImageBlock {
    margin: 50px 50px 50px 100px;
    width: 500px;
    height: 350px;
    background-color: #2c536c;
    border-radius: 10px 10px 10px 10px;
}

#ConfigureImageBlock {
    margin-top: 100px;
}

.OutPutImage {
    width: 350px;
    height: 350px;
    border-radius: 5px 5px 5px 5px;
}

#Img_block {
    width: 380px;
    height: 350px;
    border-radius: 8px 8px 8px 8px;
}
