@inject IViewComponentHelper Helper
@inject SignInManager<ServiceUser> signInManager
@{
    ViewData["Title"] = "About Page";
}
    <div class="TextBlock">
        <p>
            Ласкаво просимо в супер модний і класний  сервіс для роботи з зображенням.
            За допомогою нашого сайту ви маєте можливість покращити якість зображення,
            змінити кольоровий фільтр та багато іншого, що не так просто зробити в звичайних умовах.
            Також можливе завантаження вже готових результатів до себе на ПК та переглядях їх у браузері.
            Спробуйте увійти, щоб побачити результати редагування зображень
        </p>
         @if(signInManager.IsSignedIn(User))
            {
                @await Helper.InvokeAsync("AccountPhoto");
            }
    </div>

