@inject IViewComponentHelper Helper
@inject SignInManager<ServiceUser> signInManager
@{
    ViewData["Title"] = "About Page";
}
    <div class="TextBlock">
        <p>
            Welcome to the super trendy and cool x-ray service.
            With the help of our sites you have the opportunity to improve image quality,
            change the color filter and much more, which is not so simple to do under normal conditions.
            It is also possible to download and download ready-made results.
            Try login to see your image editing results
        </p>
         @if(signInManager.IsSignedIn(User))
            {
                @await Helper.InvokeAsync("AccountPhoto");
            }
    </div>

