@{
    ViewData["Title"] = "Main Page";
}
<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Hello From main page</h1>
    <a href="~/About/GiveInfo">About Page</a>
    <a href="~/InfoPage/SupportPage">Info Page</a>
    <a href="~/Registration/Login">Registration Page</a>
</body>
</html>
