@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Hello from main page</h1>
    <a href="~/About/GiveInfo">About Page</a>
    <a href="~/InfoPage/SupportPage">Info Page</a>
    <a href="~/Registration/RegistrationForm">SignUp</a>
    <a href="~/LogIn/SignIn">SignIn</a>
</body>
</html>
