<!DOCTYPE html>
<html>
<head>
	<title>Register Page</title>
    <meta charset="utf-8">
</head>
<body>
    <form method="post" role="form" action="~/Registration/CreateNewAccount">
        <p1>Input email address</p1>
        <input type="text" name="EmailAddress"/>
        <p1>Input password</p1>
        <input type="text" name="Password"/>
        <p1>Input your FirstName</p1>
        <input type="text" name="FirstName"/>
        <p1>Input your LastName</p1>
        <input type="text" name="LastName"/>
        <input type="submit" value="Create new account">
 </form>
</body>
</html>
