@model string
@{
    ViewData["Title"] = "Confirmation page";
}
<div class="smallcontainer">
    <h1>Привіт, @Model.ToString(), спасибі за реєстрацію!</h1>
    <h1>Підтвердіть свій емейл, будь ласка</h1>
    <a asp-controller="HomePage" asp-action="Index">Return to main page</a>
</div>
