@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
    <div class="login-view">
        <form method="post" asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="All"></div>
            <span asp-validation-for="EmailAddress"></span>
            <input class="dws-input" type="text" asp-for="EmailAddress" placeholder="Input your email" />
            <span asp-validation-for="Password"></span>
            <input class="dws-input" type="password" asp-for="Password" placeholder="Input your password" />
            <input class="dws-submit" type="submit" value="Login!">
        </form>
        <a asp-controller="Account" asp-action="ResetPasswordWithEmail">Forget Password?</a>
        <form method="post" asp-controller="Account" asp-action="ExternalLogIn">
            @if (Model.ListOfProviders.ToList().Count > 0)
            {
                foreach (var provider in Model.ListOfProviders.ToList())
                {
                    <input class="dws-submit" type="submit" value=@provider.DisplayName name="provider">
                }
            }
        </form>    
    </div>

