@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
    <div class="container-login">
        <form method="post" asp-controller="Account" asp-action="Login">
            <img src="../../img/AccountImage.png" asp-append-version="true">
            <div asp-validation-summary="All"></div>
            <div class="dws-input">
                <span asp-validation-for="EmailAddress"></span>
                <input asp-for="EmailAddress" placeholder="Введіть адресу електронної пошти" />
                <span asp-validation-for="Password"></span>
                <input type="password" asp-for="Password" placeholder="Введіть пароль" />
                <input class="dws-submit" type="submit" value="Логін!">
            </div>
        </form>
        <a asp-controller="Account" asp-action="ResetPasswordWithEmail">Забули пароль?</a>
        <form method="post" asp-controller="Account" asp-action="ExternalLogIn">
            @if (Model.ListOfProviders.ToList().Count > 0)
            {
                foreach (var provider in Model.ListOfProviders.ToList())
                {
                    <input class="default-button" type="submit" value=@provider.DisplayName name="provider">
                }
            }
        </form>
    </div>

