@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPasswordWithEmail";
}
<div class="smallcontainer">
    <form method="post" asp-controller="Account" asp-action="ResetPasswordConfirmationPage">
        <img src="../../img/AccountImage.png" asp-append-version="true">
        <div asp-validation-summary="All"></div>
        <div class="dws-input">
            <span asp-validation-for="EmailAddress"></span>
            <input class="dws-input" asp-for="EmailAddress" placeholder="Введите почтовый адрес" />
            <input class="dws-submit" type="submit" value="Reset password">
        </div>
    </form>
</div>