@{
    ViewData["Title"] = "Confirmation page";
}
<div class="smallcontainer">
    <h1>Thank you, @ViewBag.FirstName, for registration!</h1>
    <a asp-controller="HomePage" asp-action="Index">Return to main page</a>
</div>
