@model string
@{
    ViewData["Title"] = "Confirmation page";
}
<div class="smallcontainer">
    <h1>Hello, @Model, thank your for registration!</h1>
    <h1>Please confirm your email</h1>
    <a asp-controller="HomePage" asp-action="Index">Return to main page</a>
</div>
