<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<body>
    <h1>Thank you @ViewBag.FirstName for registration!</h1>
    <a href="~/HomePage/Index">Return to main page</a>
</body>
</html>
