@model AccountEditedImagesViewModel
    <div class="slidershow middle">
        <div class="slides">
            <!--  Depends on image count -->
            @{
                for (int i = 0; i < Model.EditedImages.Count; i++)
                {
                    var imageIdValue = $"r{i}";

                    if (i == 0)
                    {
                        <input type="radio" name="r" id="@imageIdValue" checked>
                    }
                    else
                    {
                        <input type="radio" name="r" id="@imageIdValue">
                    }
                }
                foreach (var item in Model.EditedImages)
                {
                    <div class="slide s1">
                        <img src="@item" asp-append-version="true" />
                    </div>
                }
            }
        </div>
        <div class="navigation">
            @{
                for (int i = 0; i < Model.EditedImages.Count; i++)
                {
                    var imageIdValue = $"r{i}";

                    <label for="@imageIdValue" class="bar"></label>
                }
            }
        </div>
    </div>
