<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="../../css/styles.css" type="text/css">
</head>
<body>
    @RenderBody()
    <footer>
        <div class="footerElement">
            <p>Yevhen Havrasiienko - Diploma - 2019 Kiev - National Aviation University </p>
        </div>
    </footer>
</body>
</html>
