@model IndexViewData
@{
    ViewData["Title"] = "SignIn";
}
<div class="container">
    <form method="post" asp-controller="HomePage" asp-action="Index">
        <div class="dws-input">
            <input class="dws-input" type="text" asp-for="Customer.EmailAddress" />
            <input class="dws-input" type="text" asp-for="Customer.Password" />
        </div>
        <div class="dws-submit">
            <input class="dws-input" type="submit" value="Log In!">
        </div>
    </form>
</div>
