@model IndexViewData
@{
    ViewData["Title"] = "SignIn Page";
}
<form method="post" asp-controller="HomePage" asp-action="Index">
    <p1>Input email address</p1>
    <input type="text" asp-for="Customer.EmailAddress"/>
    <p1>Input password</p1>
    <input type="text" asp-for="Customer.Password" />
    <input type="submit" value="Log In!">
</form>
