@{
    ViewData["Title"] = "SmartX.com";
}
<div class="pre-content">
        <h1>Revolutionary Photo Editor and Design Maker</h1>
        <h3>Billions of good photos processed | Lie</h3>
        <div class="image-options">
            <a class="main-ref" asp-controller="HomePage" asp-action="EditImage">View your edits</a>
            <a class="main-ref" asp-controller="About" asp-action="GiveInfo">View your edits</a>
            <a class="main-ref" asp-controller="HomePage" asp-action="EditImage">View your edits</a>
        </div>
</div>
